<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>170940781590-9vkfudlmpvg6t64r1fovqv9gkipse0k7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.170940781590-9vkfudlmpvg6t64r1fovqv9gkipse0k7</string>
	<key>API_KEY</key>
	<string>AIzaSyCRLxwR75zO5MxRNj9aUggBCM9J7-42uPw</string>
	<key>GCM_SENDER_ID</key>
	<string>170940781590</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kareem.MovieApp</string>
	<key>PROJECT_ID</key>
	<string>moviesapp-598ef</string>
	<key>STORAGE_BUCKET</key>
	<string>moviesapp-598ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:170940781590:ios:d4a0b4e299b990fd3d9137</string>
</dict>
</plist>